
/* Famille de police pour la page */
@font-face {
    font-family: 'sofiapro-light';
    src: url('../fonts/sofiapro-light-webfont.woff2') format('woff2'),
         url('../fonts/sofiapro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

p
{
    font-size: medium;
}

body
{
    font-family: 'sofiapro-light', Arial, serif;
    font-size: medium;
}

div
{
    font-size: x-large;
}

h1, h1 + p
{
    text-align: justify;
}


.bouton {
    border: 0;
    margin-top: 0.5em;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #7ed6df;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.bouton:hover {
    background-color: #7ed6df;
}

.bouton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
